.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
}

.table th {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
