# Node modules
/node_modules

# Image Editor files
*.xcf

# Build output
build/

# Cypress output
cypress/videos
cypress/screenshots/*

# Whitelist manual visual regression screenshot directories
!cypress/screenshots/viewport.cy.ts
!cypress/screenshots/screenshot.cy.ts

# Test report output
results/*.xml
