<!DOCTYPE html>
<html>
    <head>
        <title>MinesweeperClone</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <style>
            body {
                margin: 0;
            }

            .container.small {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }

            .container.small > canvas {
                width: 70%;
                border: 4px solid #000;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            }
        </style>
    </head>
    <body>
        <div id="content" class="container"></div>
    </body>
</html>
