.classic-logo {
    object-fit: contain;
}

body.classic {
    --icon-bar-icon-color: var(--white);
}

body.classic .classic-logo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25em;
}

/* Settings Knob Modifications for Classic theme */

body.classic .knob {
    position: relative;

    width: 32px;
    height: 32px;
    border-radius: 0;

    background-image: var(--checkbox-unchecked-url);
}

body.classic .knob.enabled {
    background-image: var(--checkbox-checked-url);
}

body.classic .knob > .knob-inside {
    display: none;
}
