.snow {
    --background-color: linear-gradient(180deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 100%);
    --fallback-background-color: rgb(2, 0, 36);

    --standard-block-color: rgba(0, 0, 0, 0);
}

.embedim-snow {
    pointer-events: none;
}

body .footer > .snow-theme-credits {
    opacity: 0;
    pointer-events: none;
}

body.snow .footer > .snow-theme-credits {
    opacity: 1;
    pointer-events: initial;
}
