@import url("./game.css");
@import url("./settings.css");

.pane > .space {
    flex: 1;
}

.pane .pane-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: calc(100% - 160px);
    width: 100%;
    transform-origin: top;
}

.pane h1,
h2,
h3,
h4,
h5 {
    color: var(--text-color);
}

.pane > .footer {
    color: var(--text-color);
    text-align: center;
}
