/* Settings Pane */

.settings.pane {
    font-family: var(--text-font-family);
    position: absolute;
    height: 100%;
    width: 50vw;
    transform: translate(100vw);
    transition: transform 0.5s, opacity 0.5s;
}

.settings.pane.toggled {
    transform: translate(50%);
}

@media (max-width: 480px) {
    .settings.pane {
        width: 75vw;
    }

    .settings.pane.toggled {
        transform: translate(15%);
    }
}

/* Settings */

.settings {
    position: relative;
}

.settings > button.close {
    position: absolute;
    top: 0;
    right: 0;
}

.settings > .settings-item-group {
    width: 100%;
}

.settings .settings-item {
    color: var(--text-color);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: var(--settings-item-border-color);
    border-bottom: none;
    height: 2em;
}

.settings .settings-item:last-child {
    border-bottom: var(--settings-item-border-color);
}

.settings .settings-item > * {
    pointer-events: none;
}

.settings .settings-item a {
    text-decoration: none;
}

.settings .settings-item .settings-item-column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5em;
}

.settings .settings-item .settings-item-column:last-child {
    width: 60%;
}

.settings .settings-item .settings-item-column > .toggle {
    text-transform: capitalize;
}

/* Settings Footer */

body .footer a.author-link {
    text-decoration: none;
}

body a > .version-number,
body a > .commit-hash {
    pointer-events: initial;
}

body a > .commit-hash {
    font-size: 16px;
}
